<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/faq.png')}}" type="image/x-icon"/>
    <title>GCSBot | IIT Mandi</title>

    <!-- Custom CSS for Chat Page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chatbot_ui.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tooltip.css')}}">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

    <!-- Google jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>

    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <img src="{{url_for('static', filename='images/faq.png')}}" style="vertical-align: baseline; height: 35px;" /> 
            <span style="font-size: 28px; font-family: 'Inconsolata', monospace; font-weight: bold; vertical-align: super;">GCSBot-IIT Mandi</span> </span>
          </div>
          <div class="msger-header-options">

            <!-- Modal HTML embedded directly into document -->
            <div id="ex1" class="modal">
                <h2 style="text-align: center;">GCSBot</h2>
                <br>
                <h3 style="text-align: center;">FAQ ChatBot for freshers of IIT Mandi!</h3>
                <br>
                <p>
                    GCS is Guidance and Counseling Service of IIT Mandi, which manages the whole admission process from councelling and registration to induction programme for newly joined students.
                    A freshman joining the institute has a lot of information to search, assimilate and keep track of. What is the procedure for registration? When will I get my ID card? Where can I get food late at night around the campus? Which documents are required to submit at registration desk? How can I book institute guest house for my parents? These are just a few of the very common queries one might have apart from a ton of other academics and clubs related queries. Although GCS tries it's best to help students with their queries by it's freshman-forum fb pages, faq pages and assigning mentors for each freshman, but still there is a scope for solving most of these queries much more quickly and efficiently, as they are generally standard and common among freshers.
                    <br><br>
                    <b>GCSBot is a retrevial-based chatbot, which tries to solve the same problem using DL prediction model.</b>
                    <br><br>
                    <i>Note: All the queries you ask here are recoreded in database to be used to further improve the prediction model of Bot!</i>
                    <br><br>
                    Please feel free to send me your valuable feedback <a href="mailto:b18012@students.iitmandi.ac.in">here!</a>
                </p>
                <!-- <a href="#" rel="modal:close">Close</a> -->
            </div>
            <!-- <a class="btn btn-primary" data-toggle="popover-hover" data-img="https://mdbootstrap.com/img/logo/mdb192x192.jpg">Hover over me</a> -->

            <div class="tooltip">
                <!-- Link to open the modal -->
                <a href="#ex1" rel="modal:open"><img src="{{url_for('static', filename='images/info2.png')}}" style="height: 35px; padding-top: 2px;" /></a>
                <span class="tooltiptext">What's GCSBot?</span>
            </div>

          </div>
        </header> 
        
        <!-- Display Chat Section start -->
        <main id="display-chat-section" class="msger-chat">
            <!-- ChatBot conversation will appear here... -->
        </main>
        <!-- Display Chat Section end -->
        
        <!-- Input Message start-->
        <div id="input-area" class="msger-inputarea">
            <input type="text" id="user_query" class="msger-input" placeholder="Type your query here..." autocomplete="off" aria-label="Type your query..." aria-describedby="basic-addon2" autofocus>
            <button id="send_query" class="btn btn-warning msger-send-btn" type="button">SEND</button>
        </div>
        <!-- Input Message end-->
    </section>

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

    <!-- Custom chat JS -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/chatbot.js') }}"></script>
</body>
</html>